.file {
  visibility: hidden;
  position: absolute;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  width: 100%;
  font-weight: 700;
  padding: 10px;
  color: rgb(0, 0, 0);
  background-color: rgb(223, 223, 223);
  cursor: pointer; 
  border-radius: 20px;
  text-align: center;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: rgb(190, 190, 190);
}

.layer{
  position: fixed;
  z-index: 9999;
}

.knumber {
  width: 18%;  
  border-radius: 15px !important;
}

.featureselect {
  width: 50%;  
  border-radius: 15px !important;
}

::placeholder{
  color: rgb(223, 223, 223);
}
form button {
  width: 25%;
  position: absolute;
  right: 0;
  border-radius: 15px !important;
}

/* Banner Style */
.banner {
	background-image: url(https://images.unsplash.com/photo-1574707556595-59dbb2462ec9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 300px 0px;
	background-position: center center;
}
.banner .caption {
	text-align: center;
}
.banner .caption h2 {
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 0px;
	margin-bottom: 50px;
	font-size: 32px;
	font-weight: 700;
	color: #fff;
}
.banner #search-section fieldset {
	display: inline-block;
}
.banner #search-section {
	position: relative;
}

#search-section ul {
	padding: 0;
	margin: 0;
	text-align: center;
	display: inline-block;
}
#search-section ul li {
	display: inline-block;
	margin-right: 30px;
}
#search-section ul li:last-child {
	margin-right: 0px;
}
#search-section input[type=checkbox] {
	width: 18px;
	min-width: 18px;
	height: 18px;
	background-color: transparent;
	border: 1px solid #fff;
	outline: none;
	cursor: pointer;
}
#search-section span {
	color: #fff;
	font-size: 15px;
	font-weight: 700;
	margin-left: 8px;
}
#search-section em {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #fff;
}
#search-section ::-webkit-input-placeholder { /* Edge */
  color: #fff;
}

#search-section :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

#search-section ::placeholder {
  color: #fff;
}